<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Mobile.POMFramework.Settings.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Mobile.POMFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Mobile.POMFramework.Settings.iOS" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Mobile.POMFramework.Settings.Android" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Mobile.POMFramework.Settings.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Mobile.POMFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="testResult.log" />
      <appendToFile value="true" />
      <encoding value="unicodeFFFE" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss} [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%date{HH:mm:ss} [%thread] %-5level %logger(%line) - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="Console" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <applicationSettings>
    <Mobile.POMFramework.Settings.App>
      <setting name="LoadPageTimeoutSeconds" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="MaxPageElementWaitTimeSeconds" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ValidUserName" serializeAs="String">
        <value>&lt;Removed for obvious reasons&gt;</value>
      </setting>
      <setting name="ValidPassword" serializeAs="String">
        <value>&lt;Removed for obvious reasons&gt;</value>
      </setting>
      <setting name="InvalidUserName" serializeAs="String">
        <value>Chuck.Norris</value>
      </setting>
      <setting name="InvalidPassword" serializeAs="String">
        <value>ninja</value>
      </setting>
      <setting name="instanceName" serializeAs="String">
        <value>test1</value>
      </setting>
      <setting name="environment" serializeAs="String">
        <value>Internal - TestServer1</value>
      </setting>
    </Mobile.POMFramework.Settings.App>
    <Mobile.POMFramework.Properties.Settings>
      <setting name="LoadPageTimeoutSeconds" serializeAs="String">
        <value>60</value>
      </setting>
    </Mobile.POMFramework.Properties.Settings>
    <Mobile.POMFramework.Settings.iOS>
      <setting name="deviceName" serializeAs="String">
        <value>iPhone 6</value>
      </setting>
      <setting name="platformVersion" serializeAs="String">
        <value>8.2</value>
      </setting>
      <setting name="platformName" serializeAs="String">
        <value>iOS</value>
      </setting>
      <setting name="uri" serializeAs="String">
        <value>&lt;Removed for obvious reasons&gt;</value>
      </setting>
      <setting name="timeOutSecs" serializeAs="String">
        <value>5</value>
      </setting>
    </Mobile.POMFramework.Settings.iOS>
    <Mobile.POMFramework.Settings.Android>
      <setting name="deviceName" serializeAs="String">
        <value>AndroidTest</value>
      </setting>
      <setting name="platformVersion" serializeAs="String">
        <value>5.1</value>
      </setting>
      <setting name="platformName" serializeAs="String">
        <value>Android</value>
      </setting>
      <setting name="uri" serializeAs="String">
        <value>&lt;Removed for obvious reasons&gt;</value>
      </setting>
      <setting name="timeOutSecs" serializeAs="String">
        <value>10</value>
      </setting>
    </Mobile.POMFramework.Settings.Android>
  </applicationSettings>
  <userSettings>
    <Mobile.POMFramework.Settings.App>
      <setting name="DefaultCulture" serializeAs="String">
        <value>en-US</value>
      </setting>
    </Mobile.POMFramework.Settings.App>
    <Mobile.POMFramework.Properties.Settings>
      <setting name="DefaultCulture" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="MaxPageElementWaitTimeSeconds" serializeAs="String">
        <value>5</value>
      </setting>
    </Mobile.POMFramework.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>